<div class="w-full h-9/10 flex">
    <div class="w-full  bg-lightBack  dark:bg-darkBack3">
        <div class="flex flex-row w-full mt-8 px-2">
            <div class="h-64 bg-white dark:bg-darkBack2 shadow-lg w-7/12 mx-8 min-w-96 rounded-md p-8 flex flex-col">
                <div class="flex justify-between mb-4">
                    <h1 class="text-gray-400 ">Main accounts</h1>
                    <h1 class="text-gray-400 ">Available funds</h1>
                </div>
                <div class="flex justify-between mb-4 ">
                    <div class="">
                        <h1 class="font-bold text-2xl dark:text-white">ABank Saving Account</h1>
                        <h1 class="dark:text-white">88 120 7793 74581 2548 8965 2014</h1>
                    </div>
                    <h1 class="text-black text-4xl font-bold dark:text-white">68.798<span class="text-2xl">,36</span>
                        <span class="text-gray-400 text-2xl ml-2">DH</span></h1>
                </div>
                <div class="flex mt-4">
                    <div class="bg-green px-5 py-4 rounded-md mr-16">Make payment</div>
                    <div class="bg-gray-600 px-5 py-4 rounded-md text-white">Transfer money</div>
                </div>
            </div>
            <div class="h-64 bg-green w-[695px] rounded-md flex">
                <h1 class="text-white p-8">Slider</h1>
            </div>
        </div>
        <div class="h-52 mt-4 px-8 flex justify-between">
            <div class="relative w-50rem h-52 mx-2 rounded-md select-none bg-white dark:bg-darkBack2 ">
                <img src="../../assets/imgt2.jpg" class="w-50rem h-52 object-cover rounded-md">
                <div class="absolute w-full h-full top-0 px-8 py-4 flex flex-col justify-between">
                    <h1 class="text-white font-bold">Selinuem</h1>
                    <h1 class="text-white font-extrabold text-xl">7793 **** **** **** ****</h1>
                    <div class="flex w-full justify-between items-center">
                        <h1 class="font-bold text-white">EL BSSITA Fouad</h1>
                        <img src="../../assets/Mastercard.png" alt="" class="h-8 w-14">
                    </div>
                </div>
            </div>
            <div class="relative w-50rem h-52 mx-2 select-none	rounded-md bg-white dark:bg-darkBack2 ">
                <img src="../../assets/imgt3.jpg" class="absolute w-50rem h-52 object-cover rounded-md">
                <div class="absolute w-full h-full top-0 px-8 py-4 flex flex-col justify-between">
                    <h1 class="text-white font-bold">Selinuem</h1>
                    <h1 class="text-white font-extrabold text-xl">7793 **** **** **** ****</h1>
                    <div class="flex w-full justify-between items-center">
                        <h1 class="font-bold text-white">EL BSSITA Fouad</h1>
                        <img src="../../assets/Visa.png" alt="" class="h-6 w-12">
                    </div>
                </div>
            </div>
            <div class="relative w-50rem h-52 mx-2 select-none	 rounded-md bg-white dark:bg-darkBack2 ">
                <img src="../../assets/imgt5.jpg" class="absolute w-50rem h-52 object-cover rounded-md">
                <div class="absolute w-full h-full top-0 px-8 py-4 flex flex-col justify-between">
                    <h1 class="text-white font-bold">Selinuem</h1>
                    <h1 class="text-white font-extrabold text-xl">7793 **** **** **** ****</h1>
                    <div class="flex w-full justify-between items-center">
                        <h1 class="font-bold text-white">EL BSSITA Fouad</h1>
                        <img src="../../assets/Mastercard.png" alt="" class="h-8 w-14">
                    </div>
                </div>
            </div>
            <div class="relative w-50rem h-52 mx-2 select-none	 rounded-md bg-white dark:bg-darkBack2 ">
                <img src="../../assets/imgt4.jpg" class="absolute w-50rem h-52 object-cover rounded-md">
                <div class="absolute w-full h-full top-0 px-8 py-4 flex flex-col justify-between">
                    <h1 class="text-white font-bold">Selinuem</h1>
                    <h1 class="text-white font-extrabold text-xl">7793 **** **** **** ****</h1>
                    <div class="flex w-full justify-between items-center">
                        <h1 class="font-bold text-white">EL BSSITA Fouad</h1>
                        <img src="../../assets/Visa.png" alt="" class="h-6 w-12">
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full h-80 mt-4 px-10 flex flex-row justify-between">
            <div class="w-48p py-4 px-8 bg-white rounded-md dark:bg-darkBack2  flex flex-col justify-between">
                <div>
                    <div class="flex justify-between">
                        <h1 class="font-bold text-lg text-black dark:text-white ">Latest transactions</h1>
                        <div class="h-8 w-8 bg-green flex justify-center items-center rounded-md">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                              </svg>
                        </div>
                    </div>
                    <div class="text-sm mt-2">
                        <div class="flex justify-between border-b-2 py-3 dark:border-gray-600">
                            <h1 class="text-bold text-black dark:text-white ">Today</h1>
                            <h1 class="text-gray-400">StarBucks Cafe</h1>
                            <h1 class="text-black dark:text-white ">Card payment</h1>
                            <h1 class="text-black dark:text-white ">Food</h1>
                            <h1 class="font-bold text-red-600 ">-150,00 DH</h1>
                        </div>
                        <div class="flex justify-between border-b-2 py-3 dark:border-gray-600">
                            <h1 class="text-bold text-black dark:text-white ">Today</h1>
                            <h1 class="text-gray-400">StarBucks Cafe</h1>
                            <h1 class="text-black dark:text-white ">Card payment</h1>
                            <h1 class="text-black dark:text-white ">Food</h1>
                            <h1 class="font-bold text-green">+150,00 DH</h1>
                        </div>
                    </div>
                </div>
                <div class="w-full flex items-center justify-center">
                    <h1 class="mr-2 text-sm text-black dark:text-white font-semibold">See more</h1>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-green" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                      </svg>
                </div>
            </div>
            <div class="w-48p py-4 px-8  bg-white rounded-md dark:bg-darkBack2 ">
                <div>
                    <div class="flex justify-between">
                        <h1 class="font-bold text-lg text-black dark:text-white ">All Expenses</h1>
                        <div class="h-8 w-8 bg-green flex justify-center items-center rounded-md">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                              </svg>
                        </div>
                    </div>
                    
                </div>
            
            </div>
        </div>
    </div>
</div>