<div class="w-full h-9/10 items-center flex md:flex-row flex-col-reverse bg-[#D0D7D9] dark:bg-darkBack2">
    <div class="md:w-1/2 w-full h-full flex items-center justify-center">
        <div class="md:w-full px-12 w-full text-center md:text-left">
            <div class="text-5xl font-bold mb-8 text-black dark:text-darkText">
                Smart banking for <br>
                your transaction
            </div>
            <h1 class="md:text-justify text-black dark:text-darkText">
                Start transaction today. Don'th robe your future. Speed, save
                and manage your money all in one place. We are the most inventing
                app worldwide 
            </h1>
            <div class="my-8 text-black dark:text-darkText">
                +250k Active User
            </div>
            <div class="flex w-full p-2 justify-between rounded-full bg-gray-50 dark:bg-darkBack3">
                <input class="flex-grow w-24 focus:outline-none rounded-l-full pl-6 pr-2 bg-gray-50 dark:text-darkText dark:bg-darkBack3" type="text" placeholder="Enter your email">
                <div class="cursor-pointer py-2 px-4 w-28 text-center text-white bg-gray-700 rounded-full bg-gary-500">
                    Subscribe
                </div>  
            </div>
        </div>
    </div>
    <div class="h-full w-full px-8 md:px-0 md:w-1/2 flex items-center justify-center select-none">
        <img src="../../assets/img3.png" class="select-none">
    </div>
</div>

